.types-placeholder-container {
	display: inline-block !important;
	width: 50% !important;
	margin-bottom: 30px !important;
	padding-left: 10px !important;
	padding-right: 10px !important;
}

.types-placeholder {
	height: 50px !important;
}
