.header-placeholder-1 {
	width: 120px !important;
	margin-bottom: 1em !important;
	margin-left: auto !important;
	margin-right: auto !important;
}

.header-placeholder-1 .line {
	margin-bottom: 1em !important;
}

.header-placeholder-1 .line:before {
	height: 1em !important;
}

.header-placeholder-2 {
	width: 60px !important;
	margin-top: 0 !important;
	margin-left: auto !important;
	margin-right: auto !important;
}

.header-placeholder-2 .line {
	height: 0 !important;
}
