/* pokedex container */
.pokedex-container {
	padding-top: 100px !important;
	padding-bottom: 40px !important;
	margin: 0 !important;
}

/* load more button container */
.load-more-container {
	padding-left: 0 !important;
	padding-right: 0 !important;
	margin-top: 50px !important;
	text-align: center !important
}

/* load more button */
.load-more-button {
	padding: 20px 1.5rem !important;
	margin-right: 0 !important;
	background-color: #db0a5b !important;
	border: 2px solid #af0848 !important;
	color: #fff !important;
	text-transform: capitalize !important;
	font-family: 'Titillium Web', sans-serif !important;
	letter-spacing: .5px;
	transition: all .15s ease !important;
	width: 100% !important;
}
