.navbar-container {
	border-radius: 0 !important;
}

.navbar-item {
	padding: 20px !important;
	border-radius: 0 !important;
	line-height: auto !important;
	text-transform: uppercase !important;
	font-weight: 600 !important;
	font-family: 'Titillium Web', sans-serif;
}

.navbar-image {
	height: 20px !important;
	width: auto !important;
	margin-right: 10px !important;
}

.navbar-search .prompt {
	width: 250px;
	font-family: 'Titillium Web', sans-serif;
}

.navbar-search .results {
	overflow-y: scroll;
	max-height: 400px;
}

.navbar-search .results .result {
	transition: all .1s linear;
	padding: 0 !important;
}

.navbar-search .results .result:hover {
	background-color: #00b5cc !important;
}

.navbar-search .results .result:hover .label {
	color: #fff;
}

.navbar-search .results::-webkit-scrollbar {
	display: none !important;
}
