/* types container */
.types-container {
	display: inline-block;
	width: 50%;
	padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 30px;
}

/* type container */
.type-container {
	display: inline-block;
	width: 100%;
	padding: 15px 10px;
	text-align: center;
	border-radius: 3px;
}

/* name */
.type-name {
	font-family: 'Titillium Web', sans-serif !important;
	text-transform: capitalize;
}

/* grass type */
.bg-grass {
  background-color: #9bcc50;
  color: white;
}

/* fire type */
.bg-fire {
  background-color: #fd7d24;
  color: white;
}

/* water type */
.bg-water {
  background-color: #4592c4;
  color: white;
}

/* ghost type */
.bg-ghost {
  background-color: #7b62a3;
  color: white;
}

/* steel type */
.bg-steel {
  background-color: #e1e9e9;
  color: black;
}

/* electric type */
.bg-electric {
  background-color: #eed535;
  color: black;
}

/* dark type */
.bg-dark {
  background-color: #707070;
  color: white;
}

/* rock type */
.bg-rock {
  background-color: #a38c21;
  color: white;
}

/* ground type */
.bg-ground {
  background-color: #D69B5E;
  color: white !important;
}

/* flying type */
.bg-flying {
  background-color: #3dc7ef;
  color: white;
}

/* poison type */
.bg-poison {
  background-color: #b97fc9;
  color: white;
}

/* bug type */
.bg-bug {
  background-color: #729f3f;
  color: white;
}

/* normal type */
.bg-normal {
  background-color: #a4acaf;
  color: white;
}

/* fairy type */
.bg-fairy {
  background-color: #fdb9e9;
  color: white;
}

/* fighting type */
.bg-fighting {
  background-color: #d56723;
  color: white;
}

/* psychic type */
.bg-psychic {
  background-color: #f366b9;
  color: white;
}

/* ice type */
.bg-ice {
  background-color: #abdcf1;
  color: black;
}

/* dragon type */
.bg-dragon {
  background-color: #7c4dff;
  color: white;
}
